<form (ngSubmit)="onNewTodoSubnit()" #f="ngForm">
    <h2 mat-dialog-title>Add New Todo</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Todo Name</mat-label>
            <input required="true" ngModel name="title" matInput placeholder="What is your task?">
            <mat-error *ngIf="f.submitted && f.form.get('title')?.invalid">Title is Required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input required="true" ngModel name="description" matInput placeholder="What is your task?">
            <mat-error *ngIf="f.submitted && f.form.get('description')?.invalid">Description is Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a Date</mat-label>
            <input required="true" ngModel name="date" matInput [matDatepicker]="picker" [min]="minData">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="f.submitted && f.form.get('date')?.invalid">Date is Required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">submit</button>
    </div>
</form>